* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


 .texto-cima  section  h1 {
  margin: 250px 80px 80px 230px;
  width: 50% ;
}

.texto-cima h3 {
  margin-left: 230px;
  width: 50%;
}

.nav h1 {
  text-align: center;
  margin-top: 250px ;
  margin: 50px;
}

.texto-cima section img {
  width: 1000px;
  height: 900px;
  position: fixed;
  left: 1000px;
  top: 5px;
}

.container {
  margin-top: ;
  min-height: 100vh;
  display: flex;
  column-gap: 50px;
  justify-content: center;
}

.item{
  width: 500px;
  height: 500px;
  border-radius: 30px;
  background-color: rgb(177, 177, 177);
  font-size: 23px;
  text-align: center;
}