@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

/* FORMATAÇÃO GERAL */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
}

body{
 
  background: #e6dcdf;

}

h1 a{
  text-decoration: none;
  
}



/* FIM DA FORMATAÇÃO GERAL */

/* FORMATAÇÃO DOS CARDS */


.post{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 24px;
}




.container{
  display: flex;
  gap: 30px;
  padding: 20px;
  justify-content: space-around;
}



@media (min-width: 900px) {
  .container {
    flex-direction: row;

  }
}

.card{
  border-radius: 8px;
  background: #fff;
  box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
  padding: 16px 80px; /* 18px 36px; */
  cursor: pointer;
  
}

.card:hover{
  transform: scale(1.05);
  box-shadow:  0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}



.card img{
  position: absolute;
  top: 20px;
  right: 15px;
  max-height: 120px;
  
}

.card-1{
  background-image:url("../img/artigos.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: 80px;
}

.card-2{
  background-image:url("../img/comu.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: 80px;
}

.card-3{
  background-image:url("../img/projetos.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: 80px;
}



@media(max-width: 800px){
  .card-display{
    margin: 20px;
  }
}

.text{
  display: flex;
  flex-direction: column;
  justify-content: center;
 
  
}
/* FIM DA FORMATAÇÃO DOS CARDS */
/* .cards{
  border-radius: 5px;
  box-shadow: 7px 7px 13px 0 rgba(50, 50, 50, 0.22 );
  padding: 20px;
  margin: 20px;
  width: 550px;
  transition: all 0.3s ease-out;  
} 

.card:hover {
  transform: translateY(-5px);
  cursor: pointer;
}

.card p{
  color: #a3a5ae;
  font-size: 16px;
}

.image{
  float: right;
  max-width: 80px;
  max-height: 80px;
}*/

.green {
  border-left: 3px solid #3bb54a;
}
.blue {
  border-left: 3px solid #e7571a;
}
.gray{
  border-left: 3px solid #cdd706;
}

/* Personal Data */
/* .row2{
  display: flex;
  column-gap: 30px;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 300px;
  margin-left: 50px;
}


/*Mini Cards */
/* .row3{
  display: flex;
  column-gap: 30px;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 200px;
  margin-left: 30px;
  flex-wrap: wrap;
  width: 100%;
  
}

.row3 h1 {
  display: flex;
  justify-content: center;
  text-align: center;
  text-shadow: #E45E84;

}
 */
/*Meio Cards*/
/* .row4{
    display: flex;
  column-gap: 30px;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 200px;
  margin-left: 30px;
} 

.card2{
  border-radius: 5px;
  box-shadow: 7px 7px 13px 0 rgba(50, 50, 50, 0.22 );
  padding: 20px;
  margin: 20px;
  width: 550px;
  transition: all 0.3s ease-out;  
}

.card2:hover {
  transform: translateY(-5px);
  cursor: pointer;
}
 */
/* footer */
 footer{
  width: 100%;
  min-height: 250px;
  background-color: #6C62FD;
  display: flex;
}

footer .boxs{
  width: 320px;
  min-height: 150px;
  padding: 20px;

}

footer .boxs:nth-child(4){
  width: 400px;
}

.boxs h2{
  color: #f4f4f4;
  margin-bottom: 20px;

}
.boxs ul li{
  margin: 10px 0px;
  list-style: none;

}

.boxs ul li a{
  color: #ddd ;
  text-decoration: none;
}

.boxs ul li a:hover{
  color: #E45E84 ;
}

.boxs p{
  color: #f4f4f4;
  text-align: justify;
} */



/* Scrollbar configuração */
::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background-color: #6C62FD;
  border-radius: 30px;
}

::-webkit-scrollbar-thumb {
  background-color: #E45E84;
  border-radius: 30px;
}

/* retirar o scrollbar horizontal */
body { overflow-x: hidden; }