* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.img-header {
  margin-top: 30px;
  margin-left: 30px;
  width: 100px;
  height: 100px;
  display: flex;
}

.logo-direita {
  margin-top: 30px;
  width: 50%;
  height: 50%;
  margin-left: 50%;
  display: flex;
}
.texto-cima h1 {
  margin: 250px 80px 80px 230px;
  width: 50%;
}

.texto-cima h3 {
  margin-left: 230px;
  width: 50%;
}

.nav h1 {
  text-align: center;
  margin-top: 300px;
  margin: 50px;
}

.texto-cima section img {
  width: 1000px;
  height: 900px;
  position: fixed;
  left: 1000px;
  top: 5px;
}

.container {
  margin-top: 5px;
  min-height: 70vh;
  display: flex;
  column-gap: 50px;
  justify-content: center;
}

.item {
  width: 500px;
  height: 500px;
  border-radius: 30px;
  background-color: rgb(177, 177, 177);
  font-size: 23px;
  text-align: center;
  display: flex;
}

.container-principal {
  min-height: 70vh;
  display: grid;
  grid-template-columns: 2fr 2fr;
  gap: 10px 15px;
  grid-template-rows: 2fr 2fr;
}

.container-secundario {
  min-height: 70vh;
  display: grid;
  grid-template-columns: 2fr 2fr;
  gap: 10px 15px;
  grid-template-rows: 2fr 2fr;
}

.meio1 {
  border: 2px solid black;
  font-size: 30px;
  background-color: rgb(177, 177, 177);
  padding: 5px;
}

.meio2 {
  margin-top: 100px;
  border: 2px solid black;
  font-size: 30px;
  background-color: rgb(177, 177, 177);
  padding: 5px;
}

.container-mini-cards {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  gap: 10px 15px;
  grid-template-rows: 2fr 2fr;
}

.mini-cards {
  margin-top: 20px;
  border: 2px solid black;
  font-size: 30px;
  background-color: rgb(177, 177, 177);
  padding: 5px;
}

.flooter > ul > li {
  display: inline-block;
}

.icons img {
  width: 40px;
  height: 40px;
  text-align: center;
  position: relative;
}

.footer {
  position: relative;
  width: 100%;
  background: #3e4248;
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.social-icon,
.menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

.social-icon__item,
.menu__item {
  list-style: none;
}

.social-icon__link {
  font-size: 2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}
.social-icon__link:hover {
  transform: translateY(-10px);
}

.menu__link {
  font-size: 1.2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
  font-weight: 300;
}

.menu__link:hover {
  opacity: 2;
}

.footer p {
  color: #fff;
  margin: 15px 0 10px 0;
  font-size: 1rem;
  font-weight: 300;
}

/* Scrollbar configuração */
::-webkit-scrollbar{
  width: 15px;
}

::-webkit-scrollbar-track{
  background-color: #72716e;
  border-radius: 30px;
}

::-webkit-scrollbar-thumb{
  background-color: #2f4c72;
  border-radius: 30px;
}